.Rproj.user
.Rhistory
.RData
.Ruserdata
output/theory_figures/
output/sim_1_50/figures
output/sim_1_50/db1_50
output/sim_1_10/figures
output/sim_1_10/db1_10
output/sim_2_50/figures
output/sim_2_50/db2_50
output/sim_2_10/figures
output/sim_2_10/db2_10
output/sim_3_50/figures
output/sim_3_50/db3_50
output/sim_3_10/figures
output/sim_3_10/db3_10